
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="text-center text-capitalize text-primary">Sistema de Gerenciamento de Funcionários</h2>


    <div>

        <img class="img-responsive center-block" src="~/img/equipe.jpg" />
    </div>
